.road {
    width: 48vw;
    height: 100vh;
    background-image: url("../img/lane.png");
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.background {
    background-image: url("../img/grass.png");
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
}