.road {
    width: 48vw;
    height: 100vh;
    background-image: url("../img/lane.png");
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.background {
    background-image: url("../img/grass.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.startup-instruction {
    width: 30%;
    max-height: 50px;
    text-align: center;
    padding: 60px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px #000000;
    z-index: 3;
}

.startup-instruction>h1{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}