.road {
    width: 48vw;
    height: 100vh;
    background-image: url("../img/lane.png");
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.background {
    background-image: url("../img/grass.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.startup-instruction {
    width: 30%;
    max-height: 50px;
    text-align: center;
    padding: 60px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px #000000;
    z-index: 3;
}

.startup-instruction>h1{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button#btnPlayGame {
    width: 5%;
    height: 10%;
    background-image: url('../img/playButton2.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: auto;
}

button#btnPlayGame:hover {
    width: 4%;
    height: 9%;
}

button#btnPauseGame {
    width: 5%;
    height: 10%;
    background-image: url('../img/pauseButton.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 12%;
    margin: auto;
}

button#btnPauseGame:hover {
    width: 4%;
    height: 8%;
}

button#btnSoundOn {
    display: none;
    width: 5%;
    height: 10%;
    background-image: url('../img/soundOnButton.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 19%;
    margin: auto;
}

button#btnSoundOn:hover {
    width: 4%;
    height: 8%;
}

button#btnSoundOff {
    width: 5%;
    height: 10%;
    background-image: url('../img/soundOffButton.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 19%;
    margin: auto;
}

button#btnSoundOff:hover {
    width: 4%;
    height: 8%;
}