#home-bg {
    width: 100%;
    height: 100vh;
    background-image: url('../img/homeBackground.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#btnPlay {
    width: 20%;
    height: 20%;
    background-image: url('../img/playButton.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

#btnPlay:hover {
    width: 18%;
    height: 18%;
}

#carWheel {
    width: 15%;
    height: 25%;
    background-image: url('../img/carWheel.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 2%;
    right: 2%;
    margin: auto;
}

#logo {
    width: 26%;
    height: 25%;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 2%;
    right: 0;
    left: 0;
    margin: auto;
}

button#intro-icon {
    background-image: url('../img/introbtn.png');
    background-size: cover;
    background-position: center;
    z-index: 4;
    height: 66px;
    width: 66px;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
}

button#intro-icon:hover {
    height: 71px;
    width: 71px;
}

.startup-instruction {
    width: 40%;
    max-height: 300px;
    text-align: center;
    border: 1px solid #e7423c;
    padding: 60px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    box-shadow: 5px 5px 10px #888888;
    z-index: 3;
    display: none;
}

.startup-instruction > h1 {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Cambria', sans-serif;
}

.startup-instruction > h2 {
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    font-family: 'Cambria', sans-serif;
}

.startup-instruction > h4 {
    font-size: 18px;
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    font-family: 'Cambria', sans-serif;
}

#close {
    background-image: url('../img/closeBtn.png');
    background-size: cover;
    background-position: center;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
}

#close:hover {
    cursor: pointer;
}

#loader {
    transition: opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    z-index: 6;
}

#loader > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#loader > div > img {
    width: 60em;
    /*height: 40em;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}